In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Jose Da Coroa Grande,BR,2021-09-18 20:54:41,-8.8978,-35.1478,74.88,80,9,9.13
1,1,Meulaboh,ID,2021-09-18 20:54:42,4.1363,96.1285,73.92,98,100,5.14
2,2,Butaritari,KI,2021-09-18 20:54:42,3.0707,172.7902,82.78,69,17,17.45
3,3,Rikitea,PF,2021-09-18 20:54:42,-23.1203,-134.9692,72.37,78,30,12.01
4,4,Thompson,CA,2021-09-18 20:54:43,55.7435,-97.8558,59.16,55,90,6.91

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2021-09-18 20:54:42,3.0707,172.7902,82.78,69,17,17.45
8,8,Bubaque,GW,2021-09-18 20:54:43,11.2833,-15.8333,81.81,78,77,7.31
9,9,Vaini,TO,2021-09-18 20:54:44,-21.2000,-175.2000,75.36,94,75,5.75
11,11,Jamestown,US,2021-09-18 20:51:07,42.0970,-79.2353,78.12,76,1,5.01
14,14,Guanica,PR,2021-09-18 20:54:44,17.9716,-66.9080,87.21,82,55,1.99
22,22,Hilo,US,2021-09-18 20:54:47,19.7297,-155.0900,78.80,78,90,4.61
23,23,Lat Yao,TH,2021-09-18 20:54:48,15.7510,99.7893,76.59,89,90,2.08
28,28,Takoradi,GH,2021-09-18 20:54:49,4.8845,-1.7554,75.22,90,53,4.88
30,30,Atar,MR,2021-09-18 20:54:49,20.5169,-13.0499,88.75,35,100,11.30
31,31,Albany,US,2021-09-18 20:51:17,42.6001,-73.9662,82.09,76,34,9.98

In [19]:
preferred_cities_df.count()

City_ID       58
City          58
Country       58
Date          58
Lat           58
Lng           58
Max Temp      58
Humidity      58
Cloudiness    58
Wind Speed    58
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2   Butaritari      KI     82.78   3.0707  172.7902
8      Bubaque      GW     81.81  11.2833  -15.8333
9        Vaini      TO     75.36 -21.2000 -175.2000
11   Jamestown      US     78.12  42.0970  -79.2353
14     Guanica      PR     87.21  17.9716  -66.9080
22        Hilo      US     78.80  19.7297 -155.0900
23     Lat Yao      TH     76.59  15.7510   99.7893
28    Takoradi      GH     75.22   4.8845   -1.7554
30        Atar      MR     88.75  20.5169  -13.0499
31      Albany      US     82.09  42.6001  -73.9662

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,82.78,3.0707,172.7902,Isles Sunset Lodge
8,Bubaque,GW,81.81,11.2833,-15.8333,"Casa Dora, Bubaque"
9,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
11,Jamestown,US,78.12,42.0970,-79.2353,Hampton Inn & Suites Jamestown
14,Guanica,PR,87.21,17.9716,-66.9080,Copamarina Beach Resort & Spa
22,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
23,Lat Yao,TH,76.59,15.7510,99.7893,หจก. ลาดยาวการเกษตร
28,Takoradi,GH,75.22,4.8845,-1.7554,Raybow International Hotel
30,Atar,MR,88.75,20.5169,-13.0499,Oumou Elghoura
31,Albany,US,82.09,42.6001,-73.9662,
36,Vanimo,PG,77.04,-2.6741,141.3028,
38,Lorengau,PG,80.76,-2.0226,147.2712,
39,Avarua,CK,77.05,-21.2078,-159.7750,
40,Kavieng,PG,83.17,-2.5744,150.7967,
41,Oshkosh,US,77.18,44.0247,-88.5426,
42,Manzanillo,CU,89.35,20.3433,-77.1167,
45,Palmer,US,82.71,42.1584,-72.3287,
49,Mumford,GH,75.76,5.2618,-0.7590,
53,Prince Albert,CA,80.55,53.2001,-105.7677,
62,Tarauaca,BR,87.73,-8.1614,-70.7656,
67,Victoria,HK,85.32,22.2855,114.1577,
75,Atuona,PF,77.76,-9.8000,-139.0333,
76,Laguna,US,83.64,38.4210,-121.4238,
77,Bengkulu,ID,75.42,-3.8004,102.2655,
84,Vila Velha,BR,76.95,-20.3297,-40.2925,
90,Abu Kamal,SY,81.90,34.4506,40.9171,
93,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,
107,Nicoya,CR,89.15,10.1483,-85.4520,
110,Sadat,IN,79.12,25.6833,83.2833,
113,Kathu,TH,76.82,7.9178,98.3332,
116,Itarema,BR,79.07,-2.9248,-39.9167,
120,Katsina,NG,82.67,12.9894,7.6006,
121,Bantogon,PH,77.68,6.5333,124.0333,
123,Porto Novo,BJ,78.62,6.4965,2.6036,
125,Bethel,US,84.47,41.3712,-73.4140,
128,Sorrento,IT,77.13,40.6260,14.3744,
129,Matay,EG,81.41,28.4190,30.7792,
132,Kapaa,US,81.48,22.0752,-159.3190,
133,Bang Mun Nak,TH,77.50,16.0278,100.3792,
139,Key Largo,US,90.00,25.0865,-80.4473,
140,Jabinyanah,TN,84.00,35.0350,10.9081,
142,Tabas,IR,82.67,33.5959,56.9244,
143,Puerto Ayora,EC,82.36,-0.7393,-90.3518,
144,Sorong,ID,76.41,-0.8833,131.2500,
146,Carutapera,BR,79.39,-1.1950,-46.0200,
149,Teahupoo,PF,75.16,-17.8333,-149.2667,
151,Kalmunai,LK,79.90,7.4167,81.8167,
152,Faanui,PF,78.17,-16.4833,-151.7500,
156,Dingle,PH,75.74,10.9995,122.6711,
167,San Jose,US,81.55,37.3394,-121.8950,
168,Jawhar,SO,76.77,2.7809,45.5005,
172,Bairiki,KI,84.20,1.3292,172.9752,
173,Shingu,JP,75.90,33.7333,135.9833,
174,Olinda,BR,76.73,-8.0089,-34.8553,
175,Harper,LR,77.61,4.3750,-7.7169,
176,Makakilo City,US,80.62,21.3469,-158.0858,
177,Port-Gentil,GA,76.96,-0.7193,8.7815,
179,Saint Marys,US,86.25,30.7305,-81.5465,Spencer House Inn

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))